:root {
	--cranberry-main: #7a1927;
	--cranberry-light: #ba4242;
	--cranberry-dark: #7a1717;
	--cranberry-dark-super: #490f0f;
	--cream-main: #c5b078;
	--cream-light: #d8cba6;
	--cream-dark: #c0a96d;
	--gold-main: #998242;
	--gold-light: #b49951;
	--gold-dark: #7d6936;
	--blue-main: #0f52ba;
	--blue-light: #1695ff;
	--blue-dark: #005dab;
	--blue-light-transparent: #3ba2f6ae;
	--turquoise-main: #0efdff;
	--turquoise-light: #a1feff;
	--turquoise-dark: #00eaec;
}

:root {
	--marquee-width: 100%;
	--marquee-height: fit-content;
	--marquee-elms-displayed: 3;
	--marquee-elm-width: calc(
		var(--marquee-width) / var(--marquee-elms-displayed)
	);
	--marquee-duration-animation: calc(var(--marquee-elms) * 4s);
}

body {
	display: flex;
	place-content: center;
	padding-top: 50px;
	height: auto;
	background-color: #7a1717;
	background-image: linear-gradient(
		180deg,
		#7a1717 0%,
		var(--gold-dark) 50%,
		#7a1717 100%
	);
}

* {
	font-family: 'Lumanosimo', sans-serif;
}

li,
a {
	list-style: none;
	text-decoration: none;
	color: var(--cream-dark);
	font-family: 'GreenWood_RS', sans-serif;
}

.modal-navbar-container a {
	color: var(--cranberry-dark);
}

a:hover {
	color: var(--blue-light);
	text-decoration: underline var(--gold-light);
}

h5 {
	font-size: 30px;
	color: var(--cream-dark);
	text-align: center;
}

h3 {
	color: var(--cream-light);
	text-align: center;
	font-size: 25px;
	margin-top: -20px;
	font-weight: 200;
}

h4 {
	color: var(--cream-light);
	text-align: center;
	margin-top: -20px;
}
