:root {
	--blue-dark: #005dab;
	--blue-light: #1695ff;
	--blue-light-transparent: #3ba2f6ae;
	--blue-main: #0f52ba;
	--cranberry-dark: #7a1717;
	--cranberry-dark-transparent: #341313e2;
	--cranberry-dark-transparent-menu: #740b0bde;
	--cranberry-light: #ba4242;
	--cranberry-main: #7a1927;
	--cream-dark: #c0a96d;
	--cream-light: #d8cba6;
	--cream-main: #c5b078;
	--cream-main-transparent: #c5b178be;
	--gold-dark: #7d6936;
	--gold-light: #b49951;
	--gold: #998242;
	--turquoise-dark: #00eaec;
	--turquoise-light: #a1feff;
	--turquoise-main: #0efdff;
	--true-black: #000;
	--black-transparent: #000000d4;
	--devslopes-black: #303136;
	--devslopes-logo-red: #db5252;
	--devslopes-btn-red: #ff5267;
	--devslopes-white: #ffffef;
	--ol: 1px solid white;
	--olBlue: 1px solid blue;
	--olYellow: 1px solid yellow;
	--olRed: 1px solid red;
}
:root {
	--marquee-duration-animation: calc(var(--marquee-elms) * 4s);
	--marquee-elms-displayed: 3;
	--marquee-height: fit-content;
	--marquee-width: 100%;

	--marquee-elm-width: calc(
		var(--marquee-width) / var(--marquee-elms-displayed)
	);
}
body {
	background-color: #7a1717;
	display: flex;
	height: auto;
	padding-top: 50px;
	place-content: center;

	background-image: linear-gradient(
		180deg,
		#7a1717 0%,
		var(--gold-dark) 50%,
		#7a1717 100%
	);
}
* {
	font-family: 'Fira Code', monospace;
	font-optical-sizing: auto;
	font-style: normal;
	font-weight: 400;
}

.container {
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
}

.content {
	box-sizing: content-box;
	justify-content: center;
	align-items: center;
}

li,
a {
	color: var(--cream-dark);
	cursor: pointer;
	font-size: 20px;
	list-style: none;
	text-decoration: none;
}
li:hover {
	transform: scale(1.1);
}
.modal-navbar-container a {
	color: var(--cranberry-dark);
}

.styled-header {
	font-family: 'Lumanosimo', sans-serif;
}

#menu-toggler {
	font-size: 25px;
	color: var(--cream-light);
	position: absolute;
	cursor: pointer;
	z-index: 3;
	font-weight: 600;
	display: block;
	right: 20px;
	z-index: 2;
}

.mobile-menu {
	width: 200px;
	height: 300px;
	background-color: var(--cranberry-dark-transparent);
	position: absolute;
	z-index: 1;
	border: 3px ridge var(--gold);
	flex-direction: column;
	display: none;
	justify-content: space-evenly;
	right: 10px;
	top: 10px;
}

.mobile-menu li {
	box-sizing: content-box;
	width: 100%;
	width: 100%;
}

.mobile-menu li a {
	margin-left: 10px;
}

h5 {
	color: var(--cream-dark);
	font-size: 30px;
	text-align: center;
	margin-bottom: -5px;
}

h4 {
	color: var(--cream-light);
	font-size: 20px;
	font-weight: 200;
	text-align: center;
}
h2 {
	color: var(--gold);
	font-weight: 700;
	text-decoration: underline overline solid;
	text-align: center;
	font-size: 15px;
	margin-top: 30px;
}

.btn {
	background-color: var(--cranberry-dark);
	border: 0.125rem outset var(--gold);
	border-radius: 1.25rem;
	box-shadow: 0.0625rem 0.0625rem 0.625rem 0.0625rem var(--cream-light);
	color: var(--cream-light);
	display: flex;
	height: fit-content;
	padding: 0.3125rem;
	place-content: center;
	place-items: center;
	width: 50%;
}

.btn:hover {
	background-color: var(--cream-main);
	border: 0.125rem inset var(--cranberry-dark);
	color: var(--cranberry-dark);
}
