/*Modal Styles*/
.full-site-modal.page-block {
	display: flex;
	place-content: center;
	background: var(--cranberry-dark-transparent);
	width: 70vw;
	height: 80vh;
	border: 10px ridge var(--gold-light);
	position: relative;
	overflow-y: scroll;
	scroll-behavior: auto;
	place-self: center;
	place-content: center;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	transition: all 0.35s ease-in;
	visibility: hidden;
	opacity: 0;
	z-index: 99;
	padding: 25px;
}

.modal-content-wrapper {
	display: flex;
	flex-direction: column;
	place-content: center;
	place-items: center;
	width: 95%;
	height: 99%;
	background-image: linear-gradient(
		180deg,
		var(--cream-light) 0%,
		var(--cream-dark) 50%,
		var(--cream-light) 100%
	);
	border: 2px solid white;
}
.modal-image-container {
	display: flex;
	flex-direction: row;
	place-content: center;
	width: 100%;
	height: 40%;
}

.modal-image-wrapper {
	display: flex;
	place-content: center;
	place-items: center;
	width: 55%;
	height: 100%;
}

.modal-image-container img {
	width: 60%;
	height: 100%;
	border-radius: 60%;
}

.modal-navbar-container {
	display: flex;
	flex-direction: row;
	gap: 80px;
	font-size: 25px;
	font-weight: 600;
	border-top: var(--cranberry-dark);
	margin: 30px 0;
}

.modal-about-container {
	border: 3px groove var(--cranberry-dark);
	color: var(--cream-main);
	background: var(--cranberry-dark-transparent);
	width: 60%;
	height: 40%;
	text-align: center;
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 1;
	text-overflow: hidden;
	overflow: scroll;
	margin-bottom: 20px;
}

.full-site-modal.is-visible,
.modal.is-visible {
	visibility: visible;
	opacity: 1;
}

[data-anamation='zoomInOUt'].full-site-modal {
	transform: scale(5);
}
