/* **Back To The Top Button */
.project-top-btn {
	display: none;
	font-size: small;
	left: 92%;
	top: 55%;
	position: fixed;
	width: fit-content;
	z-index: 3;
}

.project-body-container {
	background-color: var(--cranberry-dark);
	border: 0.3125rem ridge var(--cream-main);
	display: flex;
	flex-direction: column;
	height: fit-content;
	padding: 8px;
	width: 80vw;
}
.sticky-menu {
	display: flex;
	flex-direction: row;
	height: fit-content;
	justify-content: flex-end;
	place-items: center;
	width: 100%;
	margin-top: -40px;
}
.fi {
	color: var(--cream-main);
	display: flex;
	font-size: 40px;
	height: 40px;
	visibility: hidden;
	width: 40px;
	z-index: 3;
}
.project-navbar-container {
	display: flex;
	flex-direction: row;
	gap: 50px;
	height: 100%;
	margin: 15px 50px 60px 0;
	text-align: center;
	width: fit-content;
	z-index: 2;
}
.project-navbar-container a {
	font-size: 20px;
	text-align: center;
}
.project-logo-container {
	display: flex;
	flex-direction: row;
	height: 15.625rem;
	margin: 1.5625rem auto;
	place-content: center;
	place-items: center;
	position: relative;
	width: 100%;
}
.project-logo-container img {
	height: 100%;
	object-fit: cover;
	width: 100%;
}
.lang-logo-handlder {
	background-color: var(--cranberry-dark-transparent);
	border: 0.125rem solid var(--cream-dark);
	border-radius: 50%;
	box-shadow: 0.125rem 0.125rem 5rem 0.3125rem var(--cream-light);
	display: flex;
	height: 5rem;
	place-content: center;
	place-items: center;
	position: absolute;
	width: 5rem;
	z-index: 1;
	flex-shrink: 1;
}
.lang-logo-handlder img {
	height: 3.125rem;
	object-fit: cover;
	position: absolute;
	width: 3.125rem;
}
.html {
	left: 11%;
	top: 2%;
	flex-shrink: 1;
}
.css {
	right: 46%;
	top: -10%;
}
.git {
	bottom: -10%;
	left: 34%;
}
.js {
	left: 85%;
	top: 1%;
}
.react {
	bottom: -5%;
	left: 64%;
}
.project-image-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 3.125rem;
	height: 400px;
	margin: 1.5625rem 0;
	place-content: center;
	width: 100%;
}
.project-image-wrapper {
	display: flex;
	height: 100%;
	place-content: center;
	place-items: center;
	width: 40%;

	/*background-image: linear-gradient(
		180deg,
		#7a1717 0%,
		var(--gold-dark) 50%,
		#7a1717 100%
	);*/
}
.project-image-handler {
	border: 0.125rem groove var(--blue-light);
	border-radius: 50%;
	box-shadow: 0.125rem 0.125rem 5rem 0.125rem var(--cream-light);
	height: 70%;
	width: 70%;
	z-index: 1;
}
.project-image-handler img {
	border-radius: 50%;
	height: 100%;
	width: 100%;
}
.project-info-container {
	display: flex;
	flex-direction: column;
	place-content: space-around;
	place-content: center;
	place-items: center;
	width: 40%;
}
.project-info-header-container {
	display: flex;
	height: fit-content;
	line-height: 1;
	padding: 0;
	place-content: center;
	place-items: center;
	width: 100%;
}
.project-info-container h5 {
	margin: 0.5rem auto;
	width: auto;
}
.project-info-info-container {
	color: var(--cream-light);
	display: flex;
	flex-wrap: wrap;
	font-size: 12px;
	font-weight: 400;
	letter-spacing: 1.2;
	text-align: justify;
	width: auto;
	word-wrap: break-word;
}
.project-card-container {
	align-items: center;
	display: flex;
	justify-content: space-evenly;
	flex-direction: row;
	height: auto;
	row-gap: 30px;
	width: 100%;
	margin-top: 80px;
	flex-wrap: wrap;
}
.project-card-wrapper {
	border-radius: 10px;
	box-shadow: 1px 1px 3px 2px var(--cream-light);
	display: flex;
	flex-direction: row;
	height: 250px;
	width: 60%;
	align-items: center;
	justify-content: space-between;
}
.project-card-wrapper:hover {
	box-shadow: 1px 1px 3px 2px var(--turquoise-main);
}

.project-card-wrapper > div {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 50%;
}

.project-title-container h4 {
	font-size: 1.5em;
}

.project-title-container ruby rt {
	color: var(--gold-light);
}

.filp-card-container {
	display: flex;
	height: 100%;
	align-items: center;
	height: 15%;
}
.project-card {
	background-color: var(--cranberry-dark);
	background-color: transparent;
	border-radius: 15px;
	height: 90%;
	width: 50%;
	place-content: center;
}

.project-card-inner {
	height: 80%;
	position: relative;
	transform-style: preserve-3d;
	transition: transform 0.9s;
	width: 100%;
	justify-content: center;
}
.project-card:hover .project-card-inner {
	box-shadow: 1px 1px 1px 1px var(--cream-dark);
	transform: rotateY(180deg);
	border-radius: 10px;
}
.project-card-front,
.project-card-back {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	height: 100%;
	position: absolute;
	width: 100%;
	place-content: center;
	place-items: center;
	display: flex;
}

.project-card-front i {
	color: var(--cream-light);
	font-size: 2.5em;
	text-shadow: 1px 1px 8px #000;
}

.project-card-back {
	flex-direction: column;
	transform: rotateY(180deg);
	row-gap: 20px;
	justify-content: space-evenly;
}

.project-card-back .btn {
	font-size: 0.8em;
	height: 30px;
	width: 110px;
	place-self: center;
}
/*.project-card:hover {
	border: 0.1875rem groove var(--gold-main);
	box-shadow: 0.1875rem 0.1875rem 0.0625rem 0.0625rem var(--gold-dark);
	transform: scale(1.1);
}*/
