.project-body-container {
	display: flex;
	flex-direction: column;
	border: 5px ridge var(--cream-main);
	width: 70vw;
	height: auto;
	background-color: var(--cranberry-dark);
	padding: 8px;
}

.project-navbar-container {
	display: flex;
	flex-direction: row;
	place-content: center;
	place-items: center;
	place-self: center;
	justify-content: space-around;
	width: 60%;
	height: 10%;
	margin-bottom: 25px;
}

.project-logo-container {
	display: flex;
	position: relative;
	place-content: center;
	place-items: center;
	flex-direction: row;
	height: 250px;
	width: 100%;
}

.project-logo-container img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.lang-logo-handlder {
	display: flex;
	place-content: center;
	place-items: center;
	height: 80px;
	width: 80px;
	position: absolute;
	border-radius: 50%;
	box-shadow: 2px 2px 25px 5px var(--cream-light);
	border: 2px solid var(--cream-dark);
	background-color: var(--cranberry-dark-transparent);
	z-index: 1;
}

.lang-logo-handlder img {
	width: 50px;
	height: 50px;
	object-fit: cover;
	position: absolute;
}

.html {
	top: 8%;
	left: 11%;
}
.css {
	right: 46%;
	top: 8%;
}
.git {
	left: 34%;
	bottom: 10%;
}

.js {
	top: 8%;
	left: 76%;
}

.react {
	left: 64%;
	bottom: 10%;
}

.project-section1 {
	display: flex;
	flex-direction: row;
	margin-top: 30px;
	width: 100%;
	height: 500px;
	outline: 1px solid blue;
}

.project-image-container {
	display: flex;
	place-items: center;
	place-content: center;
	width: 50%;
	height: 100%;
	outline: 1px solid yellow;
}

.project-image-handler {
	position: reltaive;
	width: 180px;
	height: 250px;
	z-index: 1;
	outline: 1px solid yellow;
}

.project-image-handler img {
	width: 100%;
	height: 100%;
}

.empty {
	position: relative;
	width: 200px;
	height: 250px;
	background-image: linear-gradient(
		180deg,
		#7a1717 0%,
		var(--gold-dark) 50%,
		#7a1717 100%
	);
}
