/* **Back To The Top Button */

.project-body-container {
	background-color: var(--cranberry-dark);
	border: 0.3125rem ridge var(--cream-main);
	display: flex;
	flex-direction: column;
	height: fit-content;
	padding: 8px;
	width: 80vw;
	box-sizing: border-box;
	position: relative;
}
.sticky-menu {
	display: flex;
	flex-direction: row;
	height: fit-content;
	justify-content: flex-end;
	place-items: center;
	width: 100%;
	position: sticky;
}

.project-navbar-container {
	display: flex;
	flex-direction: row;
	gap: 50px;
	height: 100%;
	margin: 15px 50px 60px 0;
	text-align: center;
	width: fit-content;
	z-index: 2;
}
.project-navbar-container a {
	font-size: 20px;
	text-align: center;
}
.project-logo-container {
	display: flex;
	flex-direction: row;
	height: 15.625rem;
	margin: 30px 0 80px 0;
	place-content: center;
	place-items: center;
	position: relative;
	width: 100%;
	box-sizing: border-box;
}
.project-logo-container img {
	height: 100%;
	object-fit: cover;
	width: 100%;
}
.lang-logo-handler {
	background-color: var(--cranberry-dark-transparent);
	border: 0.125rem solid var(--cream-dark);
	border-radius: 50%;
	box-shadow: 2px 2px 20px 1px var(--cream-light);
	display: flex;
	height: 80px;
	place-content: center;
	place-items: center;
	position: absolute;
	width: 80px;
	z-index: 1;
	flex-shrink: 1;
}
.lang-logo-handler img {
	height: 50px;
	object-fit: cover;
	position: absolute;
	width: 50px;
}
.html {
	left: 11%;
	top: 2%;
	flex-shrink: 1;
}
.css {
	right: 46%;
	top: -10%;
}
.git {
	bottom: -10%;
	left: 34%;
}
.js {
	left: 85%;
	top: 1%;
}
.react {
	bottom: -5%;
	left: 64%;
}
.project-image-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 80px;
	height: auto;
	margin: 50px 0 100px 0;
	place-content: center;
	width: 100%;
}
.project-image-wrapper {
	display: flex;
	height: 100%;
	place-content: center;
	place-items: center;
	width: 320px;
	box-sizing: content-box;
}

.project-image-wrapper img {
	border-radius: 50%;
	height: 100%;
	width: 100%;
	box-shadow: 2px 2px 20px 2px var(--cream-light);
}
.project-info-container {
	display: flex;
	flex-direction: column;
	place-content: space-around;
	place-content: center;
	place-items: center;
	width: 320px;
}
.project-info-header-container {
	display: flex;
	height: fit-content;
	line-height: 1;
	padding: 0;
	place-content: center;
	place-items: center;
	width: 100%;
}
.project-info-container h5 {
	margin: 0.5rem auto;
	width: auto;
	box-sizing: border-box;
}
.project-info-info-container {
	color: var(--cream-light);
	display: flex;
	flex-wrap: wrap;
	font-size: 0.9rem;
	font-weight: 600;
	text-align: justify;
	width: auto;
	word-wrap: break-word;
	line-height: 1.5;
}

/* ?? Project Display Buttons*/
.display-button-container {
	width: 320px;
	height: 150px;
	margin: 20px 0;
	place-self: center;
	flex-direction: column;
	border: 5px outset var(--gold);
	border-radius: 8px;
	justify-content: flex-start;
	background: linear-gradient(
		var(--cranberry-dark-transparent),
		var(--cranberry-dark),
		var(--gold-dark),
		var(--cranberry-dark-transparent)
	);
	box-shadow: 2px 2px 15px 2px #000;
}

.display-button-container h3 {
	width: 100%;
	color: var(--gold);
	text-align: center;
	font-size: 1.5rem;
	font-family: 'Lumanosimo';
	font-weight: 600;
	letter-spacing: 1.5;
	text-shadow: 2px 2px 4px #000;
}

.display-button-wrapper {
	width: fit-content;
	height: 50px;
	justify-content: space-around;
	column-gap: 60px;
}

.display-button-wrapper button {
	width: 100px;
	height: 40px;
	background-color: var(--cranberry-dark-transparent);
	border: 3px outset var(--gold);
	border-radius: 8px;
	box-shadow: 3px 5px 5px 1px var(--true-black);
	color: var(--gold);
	font-size: 1rem;
	font-weight: 600;
	cursor: pointer;
	text-shadow: 2px 2px 2px var(--true-black);
}

.display-button-wrapper button:hover {
	transform: scale(1.1);
}

/* !!Project Display Container */
.display-container {
	width: 100%;
	height: fit-content;
	align-items: center;
	justify-content: center;
	display: flex;
	flex-direction: row;
	border: 5px groove var(--gold);
	background: linear-gradient(
		var(--cranberry-dark-transparent),
		var(--gold-dark),
		var(--cranberry-dark),
		var(--cranberry-dark-transparent)
	);
}

/* ^^PANEL^^ */
.project-panel-container {
	width: 100%;
	height: 580px;
	padding: 10px;
	column-gap: 10%;
	border: 5px inset var(--gold);
	display: none;
}

.panel-control-container {
	height: 100%;
	width: 30%;
	flex-direction: column;
	row-gap: 20px;
	border: 3px groove var(--gold);
	border-radius: 10px;
	box-shadow: -2px 2px 20px 2px #000;
}
.project-control-labels {
	color: var(--gold);
	width: 100%;
	font-size: 2rem;
	text-align: center;
	font-weight: 800;
	font-family: 'Lumanosimo', sans-serif;
	text-shadow: 2px 2px 2px #000;
}

.project-buttons-container {
	height: 60%;
	width: 80%;
	border: 5px outset var(--cranberry-dark-transparent);
	margin-top: -15px;
	box-shadow: 2px 2px 2px 2px #000;
	flex-wrap: wrap;
	justify-content: space-around;
	background: linear-gradient(
		70deg,
		var(--cranberry-dark),
		var(--cranberry-dark),
		var(--gold-light),
		var(--gold-dark),
		var(--gold),
		var(--cranberry-dark),
		var(--cranberry-dark)
	);
}

.project-buttons-container button {
	width: 80px;
	height: 10px;
	background-color: var(--cranberry-dark-transparent);
	padding: 10px;
	border: 3px outset var(--gold);
	border-radius: 8px;
	color: var(--gold);
	box-sizing: content-box;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: 600;
	font-size: 1rem;
	text-shadow: 1px 1px 1px #000;
	box-shadow: 2px 1px 10px 1px #000;
}

.project-title-display-container {
	height: 20%;
	width: 100%;
}

.panel-display {
	height: 100%;
	width: 50%;
	border: 5px outset var(--cranberry-dark-transparent);
	box-shadow: -2px 2px 20px 2px #000;
	border-radius: 10px;
	flex-direction: column;
	row-gap: 5%;
	padding: 8px;
}

.panel-img-display-container {
	height: 50%;
	width: 70%;
	box-shadow: 2px 2px 20px 2px #000;
}

.panel-img-display-container img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border: 4px outset var(--gold);
}

.panel-description-container {
	height: 30%;
	width: 100%;
	box-shadow: -2px 2px 20px 2px #000;
	border: 4px outset var(--gold);
	flex-direction: column;
}

#panel-project-description {
	width: 90%;
	text-align: center;
	color: var(--gold);
	font-family: 'Lumanosimo', sans-serif;

	font-weight: 600;
	height: 100%;
	align-content: center;
	font-size: 1.5rem;
	text-shadow: 2px 2px 2px #000;
}

.panel-link-container {
	height: 10%;
	width: 100%;
	flex-direction: column;
}

.panel-project-link {
	width: 80px;
	height: 10px;
	background-color: var(--cranberry-dark-transparent);
	padding: 10px;
	border: 3px outset var(--gold);
	border-radius: 8px;
	color: var(--gold);
	box-sizing: content-box;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 600;
	font-size: 1rem;
	text-shadow: 1px 1px 1px #000;
	box-shadow: 2px 1px 10px 1px #000;
	margin-top: -5px;
	display: none;
}

.project-buttons-container button:hover,
.panel-project-link:hover {
	transform: scale(1.1);
}

/* ^^CARDS^^ */

.project-card-container {
	align-items: center;
	display: none;
	justify-content: space-evenly;
	flex-direction: column;
	height: auto;
	gap: 20px;
	width: 100%;
	flex-wrap: wrap;
	background: linear-gradient(var(--cranberry-dark), var(--cranberry-dark));
}

.project-card-wrapper {
	border-radius: 10px;
	box-shadow: 1px 1px 3px 2px var(--cream-light);
	display: flex;
	flex-direction: row;
	height: auto;
	width: 80%;
	align-items: center;
	justify-content: space-evenly;
	box-sizing: border-box;
	flex-wrap: wrap;
}
.project-card-wrapper:hover {
	box-shadow: 1px 1px 3px 2px var(--turquoise-main);
}

.project-card-wrapper > div {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 400px;
	width: 300px;
	box-sizing: border-box;
	flex-direction: column;
	padding: 10px;
}

.project-title-container h4 {
	font-size: 1.8em;
}

.project-title-container ruby rt {
	color: var(--gold-light);
}

.project-description-container {
	display: flex;
	box-sizing: content-box;
	justify-content: center;
	align-items: center;
	height: 50%;
	color: var(--cream-light);
	text-align: justify;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 1rem;
}

.flip-card-container {
	row-gap: 20px;
}

.project-card-preview-container {
	display: flex;
	box-sizing: content-box;
	height: 60%;
	width: 100%;
	justify-content: center;
	align-items: center;
}
.project-card-preview-container img {
	width: 90%;
	height: 90%;
	border: 10px groove var(--cranberry-dark-transparent);
	box-shadow: 3px 3px 3px 3px var(--cranberry-dark-transparent);
}

.project-card-container .project-card {
	background-color: var(--cranberry-dark);
	background-color: transparent;
	border-radius: 15px;
	height: 30%;
	width: 50%;
	box-sizing: border-box;
	width: 100%;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
}

.project-card-container .project-card-inner {
	box-sizing: border-box;

	height: 80%;
	position: relative;
	transform-style: preserve-3d;
	transition: transform 0.9s;
	width: 60%;
	border-radius: 8px;
	justify-content: center;
	box-shadow: -1px 2px 8px var(--cranberry-dark-transparent);
}
.project-card:hover .project-card-inner,
.project-card:hover .devslopes-project-card-inner {
	transform: rotateY(180deg);
	border-radius: 10px;
}
.project-card-front,
.project-card-back {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	height: 100%;
	position: absolute;
	width: 100%;
	place-content: center;
	place-items: center;
	display: flex;
	box-sizing: border-box;
}

.project-card-front i {
	color: var(--cream-light);
	font-size: 2.5em;
	text-shadow: 1px 1px 8px #000;
}

.project-card-back {
	flex-direction: column;
	transform: rotateY(180deg);
	row-gap: 20px;
	justify-content: space-evenly;
}

.project-card-back .btn {
	font-size: 0.8em;
	height: 35%;
	width: 60%;
	place-self: center;
}

/* ^^Grid^^ */

.project-grid-container {
	height: 800px;
	width: 100%;
	min-width: 380px;
	flex-direction: column;
	padding: 5px 10px;
	border: 3px outset var(--gold);
	display: none;
}

.grid-rows {
	width: 90%;
	height: 200px;
	padding: 8px;
}

.project-squares {
	width: 25%;
	height: 100%;
	justify-content: space-around;
	flex-direction: column;
	padding: 5px;
	background-color: var(--cranberry-dark-transparent);
	border: 2px groove var(--gold);
}

.square-btn-container {
	width: 100%;
}

.square-btn-container button {
	width: 80px;
	height: 30px;
	background-color: var(--cranberry-dark);
	color: var(--gold);
	font-weight: 600;
	border-radius: 8px;
	box-shadow: 1px 1px 1px 1px #000;
	text-shadow: 1px 1px 1px #000;
}

.project-squares img {
	width: 80%;
	height: 70%;
}

.grid-description-container,
.grid-link-container {
	width: 50%;
	height: 100%;
}

.grid-description-container {
	background: linear-gradient(
		var(--cranberry-dark-transparent),
		var(--cranberry-dark),
		var(--cranberry-dark)
	);

	border: 2px solid var(--gold);
	text-align: center;
	color: var(--gold);
	font-weight: 600;
}

.grid-description-container h3 {
	margin-top: 2px;
	font-size: 1.5rem;
	font-family: 'Lumanosimo';
}

.grid-link-container a {
	width: 200px;
	height: 50px;
	background-color: var(--cranberry-dark);
	border: 3px outset var(--gold);
	border-radius: 8px;
	cursor: pointer;
	box-shadow: 2px 2px 15px 2px #000;
	text-shadow: 2px 2px 2px #000;
	display: none;
}

/* **Devslopes Section */

.devslopes-section {
	display: flex;
	height: 500px;
	margin: 50px 0;
	width: 100%;
	justify-content: center;
	box-sizing: border-box;
}

.devslopes-body-container {
	display: flex;
	flex-direction: column;
	height: 100%;
	border: 5px groove var(--devslopes-logo-red);
	width: 95%;
	background: var(--devslopes-black);
	border-radius: 10px;
	padding: 1rem;
	box-sizing: content-box;
}

.devslopes-header-container {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 20%;
	box-sizing: border-box;
}

.devslopes-logo-container {
	width: 15%;
	height: 100%;
}

.devslopes-logo-container img {
	width: 100%;
	height: 100%;
	object-fit: fill;
}

.devslopes-name-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 70%;
	box-sizing: content-box;
}

.devslopes-name-container h4 {
	color: var(--devslopes-logo-red);
	font-size: 50px;
	font-weight: 700;
	margin-left: 10px;
}

.devslopes-btn-container {
	display: flex;
	height: 100%;
	width: 40%;
	justify-content: flex-end;
	align-items: center;
	box-sizing: content-box;
}

.devslopes-btn-container .btn {
	background-color: var(--devslopes-black);
	color: var(--devslopes-logo-red);
	box-shadow: 1px 1px 3px 1px var(--devslopes-logo-red);
	border: 3px groove var(--devslopes-black);
	font-size: 1.25rem;
	height: 30%;
	width: 120px;
	box-sizing: content-box;
}

.devslopes-card-container {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
	height: 80%;
	flex-wrap: wrap;
	overflow-y: scroll;
	box-sizing: border-box;
}

.devslopes-card {
	display: flex;
	flex-direction: column;
	width: 200px;
	height: 250px;
	border: 3px ridge var(--devslopes-logo-red);
	border-radius: 8px;
	place-content: center;
	box-sizing: border-box;
}

.devslopes-project-card-inner {
	height: 80%;
	position: relative;
	transform-style: preserve-3d;
	transition: transform 0.9s;
	width: 90%;
}

.devslopes-card .project-card {
	display: flex;
	border: 2px groove var(--devslopes-black);
	width: 95%;
	border-radius: 8px;
	height: 100%;
	justify-content: center;
	align-items: center;
	border: 0;
}

.devslopes-card .project-card .project-card-back {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	text-align: left;
}

.devslopes-card .project-card .project-card-front,
.devslopes-card .project-card .project-card-back {
	width: 95%;
	box-shadow: 1px 1px 3px 1px var(--devslopes-logo-red);
}

.devslopes-card .project-card .project-card-back li {
	display: flex;
	justify-content: left;
	font-size: 1em;
	margin: -3px 0;
	color: var(--devslopes-logo-red);
	margin-left: 10px;
}

#react-card-back li {
	font-size: 0.8em;
}
.devslopes-card .project-card-back .titled-li {
	place-self: center;
	font-weight: 700;
	text-decoration: underline var(--devslopes-logo-red);
	letter-spacing: 1.1;
	font-size: 1.2em;
}

.devslopes-card .project-card .project-card-back li:hover {
	transform: scale(1);
}

.devslopes-marquee-container {
	height: 5%;
	display: flex;
	align-items: center;
	color: var(--devslopes-logo-red);
	font-size: 1.3em;
	letter-spacing: 1.5;
}

.flex-active {
	display: flex;
}

.flex-inactive {
	display: none;
}
