.main-portfolio-container {
	display: flex;
	flex-direction: column;
	justify-self: center;
	width: 80%;
	height: 95%;
	border: 3px ridge var(--blue-main);
	box-shadow: 0px 0px 20px 5px var(--blue-dark);
	background-color: var(--cranberry-dark);
	margin-bottom: 50px;
}

.nav-container {
	display: flex;
	flex-direction: row;
	place-content: center;
	width: 100%;
	height: 20%;
	align-items: center;
}

.logo-conatiner {
	place-content: center;
	height: 100%;
	width: 50%;
}

.logo-conatiner h3 {
	color: var(--cream-main);
	font-size: 50px;
	text-align: center;
	margin: -5px;
}

.nav-links-container {
	display: flex;
	width: 50%;
	align-items: center;
	justify-content: center;
	gap: 50px;
	height: 100%;
}

.nav-links-container a {
	font-size: 30px;
}

.portfolio-body-container {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 80%;
}

.intro-container,
.image-container {
	display: flex;
	flex-direction: column;
	place-content: center;
	width: 50%;
}

.intro-name-container {
	text-align: center;
	line-height: 0.3;
	/*outline: 1px solid white;*/
}

.my-name {
	color: var(--blue-main);
	font-size: 35px;
}

.image-container {
	width: 50%;
}

.descriptive-container {
	color: var(--cream-light);
	text-align: center;
	font-weight: 600;
}
/* ->Scrolling Marquee<- */

.marquee {
	width: 100%;
	height: fit-content;
	overflow: hidden;
	margin: 2rem auto;
	position: relative;
	display: flex;
	flex-direction: column;
}

.marquee-content {
	list-style: none;
	display: flex;
	height: 100%;
	animation: scrolling var(--marquee-duration-animation) linear infinite;
	gap: 150px;
}

.marquee-content li {
	width: fit-content;
	justify-content: center;
	align-items: center;
	max-height: 100%;
	white-space: nowrap;
	flex-shrink: 0;
	font-size: calc(var(--marquee-height) * 3 / 4);
}
.marquee:before,
.marquee:after {
	position: absolute;
	height: 100%;
	top: 0;
	content: "";
	z-index: 1;
	width: 10rem;
}

.marquee:before {
	left: 0;
	background: linear-gradient(
		to right,
		var(--cranberry-dark) 0%,
		transparent 100%
	);
}

.marquee:after {
	right: 0;
	background: linear-gradient(
		to left,
		var(--cranberry-dark) 0%,
		transparent 100%
	);
}

@keyframes scrolling {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(
			calc(-1 * var(--marquee-elm-width) * var(--marquee-elms))
		);
	}
}

@media (max-width: 991px) {
	#about img-wrapper,
	#about .about-text {
		flex: initial;
		margin: 0 auto;
	}

	.page-block {
		text-align: center;
	}
}

@media (max-width: 768px) {
	:root {
		--marquee-width: 100%;
		--marquee-elms-displayed: 1;
	}

	.marquee:before,
	.marquee:after {
		width: 5rem;
	}
}

@media (max-width: 450px) {
	:root {
		--marquee-elms-displayed: 5;
	}
}

.img-wrapper {
	width: 80%;
	height: 80%;
	object-fit: cover;
	place-self: center;
	border-radius: 50%;
	border: 5px ridge var(--cream-main);
	box-shadow: 5px 3px 50px 10px var(--turquoise-main);
}

.img-wrapper img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

.intro-container,
.image-container {
	outline: 2px solid var(--cream-dark);
}
