.main-portfolio-container {
	background-color: var(--cranberry-dark);
	border: 3px groove var(--cream-dark);
	border-radius: 2%;
	box-shadow: 0px 0px 10px 1px var(--cream-light);
	display: flex;
	flex-direction: column;
	height: auto;
	justify-self: center;
	margin-bottom: 50px;
	padding: 15px;
	width: 70vw;
	position: relative;
}

.nav-container {
	align-items: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 10%;
	justify-content: space-between;
}
.logo-container {
	display: flex;
	height: 100%;
	place-content: flex-start;
	width: 35%;
}
.logo-container img {
	height: 100%;
	object-fit: cover;
	width: 60%;
}
.nav-links-container {
	align-items: center;
	display: flex;
	height: 100%;
	justify-content: space-around;
	width: 60%;
	display: flex;
}

.portfolio-body-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: auto;
	margin-top: 25px;
	place-items: center;
	width: 100%;
	place-content: center;
}
.intro-container,
.image-container {
	display: flex;
	flex-direction: column;
	height: 380px;
	place-content: center;
	width: 50%;
	align-items: center;
}

.intro-name-container {
	display: flex;
	flex-direction: column;
	line-height: 1;
	margin-bottom: 10px;
	place-items: center;
	place-self: center;
	width: fit-content;
	width: 100%;
	height: 50%;
	padding-top: 40px;
}

.about-text-container {
	display: none;
	height: 100%;
	width: 50%;
	height: 100%;
	/*outline: 1px solid blue;*/
}

#about-description {
	color: var(--cream-dark);
	text-align: justify;
	font-size: 1rem;
	text-shadow: 3px 3px 3px #000;
	height: 100%;
	/*outline: 1px solid white;*/
	line-height: 1.5;
	word-spacing: 1;
}

/* Marquee */
.social-media-container {
	display: flex;
	height: 50%;
	width: 80%;
	width: 100%;
}

.inner-marquee-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	justify-self: center;
	height: fit-content;
	margin-top: -90px;
	align-items: center;
	width: 90%;
	column-gap: 20px;
	padding: 10px 0;
}

.social-icon-wrappers:hover {
	transform: scale(1.2);
	color: var(--turquoise-dark);
}

.social-icon-wrappers:hover > .contact-icons i {
	color: var(--turquoise-dark);
	text-shadow: 4px 4px 4px #000;
}

.contact-icons {
	color: var(--gold-dark);
	font-size: 40px;
	height: fit-content;
	text-shadow: 2px 3px 3px var(--cream-dark);
	width: 100%;
	margin-right: 15px;
	height: fit-content;
}

.contact-icons-active {
	color: var(--turquoise-dark);
	font-size: 40px;
}

.social-icon-wrappers:hover > .contact-icons-active i {
	color: var(--gold-light);
	text-shadow: 4px 4px 4px #000;
}

.img-wrapper {
	border: 5px solid var(--cream-light);
	border-radius: 50%;
	box-shadow: 5px 3px 20px 1px var(--cream-light);
	height: 80%;
	object-fit: cover;
	place-self: center;
	width: 60%;
}
.img-wrapper img {
	border-radius: 50%;
	height: 100%;
	width: 100%;
}

.popup-container {
	width: 380px;
	height: 380px;
	background: conic-gradient(
		var(--cream-main),
		var(--cream-dark),
		var(--cream-main),
		var(--cream-dark),
		var(--cream-main)
	);
	position: absolute;
	z-index: 99;
	place-content: center;
	place-items: center;
	display: none;
	border: 5px ridge var(--cranberry-main);
}

.popup-container img {
	width: 80%;
	height: 80%;
	border: 5px ridge var(--cranberry-dark);
}

.popup-container2 {
	width: 380px;
	height: 380px;
	background: conic-gradient(
		var(--cream-main),
		var(--cream-dark),
		var(--cream-main),
		var(--cream-dark),
		var(--cream-main)
	);
	position: absolute;
	z-index: 99;
	place-content: center;
	place-items: center;
	display: none;
	border: 5px ridge var(--cranberry-main);
}

.popup-container2 p {
	color: var(--cranberry-dark);
	width: 100%;
	font-size: 1.2rem;
	text-align: center;
	letter-spacing: 3;
	font-weight: 600;
}

.flex-active {
	display: flex;
}

.flex-inactive {
	display: none;
}
