.main-portfolio-container {
	display: flex;
	flex-direction: column;
	justify-self: center;
	width: 80vw;
	height: auto;
	border: 3px ridge var(--cream-main);
	box-shadow: 0px 0px 50px 5px var(--cream-light);
	background-color: var(--cranberry-dark);
	margin-bottom: 50px;
	padding-top: 15px;
}

.nav-container {
	display: flex;
	flex-direction: row;
	height: 20%;
	align-items: center;
	justify-content: space-evenly;
	/*overflow: hidden;*/
	margin-bottom: 20px;
	flex-wrap: wrap;
}

.logo-conatiner {
	place-content: center;
	height: 150%;
	border: 3px ridge var(--cream-light);
	border-radius: 50%;
}

.logo-conatiner img {
	height: 100%;
	width: 100%;
	border-radius: 50%;
}

.nav-links-container {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 50px;
	height: 100%;
}

.nav-links-container a {
	font-size: 20px;
}

.portfolio-body-container {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 80%;
}

.intro-container,
.image-container {
	display: flex;
	flex-direction: column;
	place-content: center;
	width: 50%;
}

.intro-name-container {
	display: flex;
	flex-direction: column;
	place-items: center;
	width: fit-content;
	place-self: center;
}

#my-name {
	display: flex;
	color: var(--cream-dark);
	font-size: 35px;
	margin: 0 0 -20px 0;
	text-decoration: underline overline var(--cream-light);
}

.intro-name-container h3 {
	color: var(--cream-light);
	text-align: center;
	font-weight: 600;
	font-size: 30px;
	line-height: 1.5;
	letter-spacing: 0.9;
	text-wrap: wrap;
}

.image-container {
	width: 50%;
}

/* ->Scrolling Marquee<- */

.marquee {
	width: 100%;
	height: fit-content;
	overflow: hidden;
	margin: 2rem auto;
	position: relative;
	display: flex;
	flex-direction: column;
}

.marquee-content {
	list-style: none;
	display: flex;
	height: 100%;
	animation: scrolling var(--marquee-duration-animation) linear infinite;
	gap: 150px;
}

.marquee-content li {
	width: fit-content;
	justify-content: center;
	align-items: center;
	max-height: 100%;
	white-space: nowrap;
	flex-shrink: 0;
	font-size: calc(var(--marquee-height) * 3 / 4);
}
.marquee:before,
.marquee:after {
	position: absolute;
	height: 100%;
	top: 0;
	content: "";
	z-index: 1;
	width: 10rem;
}

.marquee:before {
	left: 0;
	background: linear-gradient(
		to right,
		var(--cranberry-dark) 0%,
		transparent 100%
	);
}

.marquee:after {
	right: 0;
	background: linear-gradient(
		to left,
		var(--cranberry-dark) 0%,
		transparent 100%
	);
}

@keyframes scrolling {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(
			calc(-1 * var(--marquee-elm-width) * var(--marquee-elms))
		);
	}
}

@media (max-width: 991px) {
	#about img-wrapper,
	#about .about-text {
		flex: initial;
		margin: 0 auto;
	}

	.page-block {
		text-align: center;
	}
}

@media (max-width: 768px) {
	:root {
		--marquee-width: 100%;
		--marquee-elms-displayed: 1;
	}

	.marquee:before,
	.marquee:after {
		width: 5rem;
	}
}

@media (max-width: 450px) {
	:root {
		--marquee-elms-displayed: 5;
	}
}

.img-wrapper {
	width: 50%;
	height: 60%;
	object-fit: cover;
	place-self: center;
	border-radius: 50%;
	border: 5px ridge var(--cream-light);
	box-shadow: 5px 3px 220px 10px var(--cream-light);
	margin-top: -90px;
}

.img-wrapper img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
}
