@media (max-width: 1366px) {
	#mainMenu {
		top: 6%;
	}

	#mainMenu {
		display: none;
	}

	.search-icon {
		right: 32%;
		top: 48%;
	}

	.mic-icon {
		right: 29%;
		top: 48%;
	}
}

@media (max-width: 1024px) {
	#mainMenu {
		display: none;
	}

	#mainMenu {
		top: 4%;
		right: 6%;
	}

	.search-icon {
		right: 32%;
		top: 40%;
	}

	.mic-icon {
		right: 29%;
		top: 40%;
	}
}

@media (max-width: 768px) {
	.task-bar,
	.tb1 {
		display: none;
	}

	#menu-toggler {
		visibility: visible;
		right: 7%;
	}

	.logo-home {
		margin-top: 100px;
	}

	.search-container {
		margin-bottom: 15px;
	}

	.search-container input {
		width: 55%;
	}

	.search-icon {
		right: 32%;
		top: 45%;
	}

	.mic-icon {
		right: 26%;
		top: 45%;
	}
}

@media (max-width: 481px) {
	.logo-home .logo {
		width: 100%;
	}

	.search-container input {
		width: 85%;
	}

	.search-icon {
		right: 18%;
		top: 45%;
	}

	.mic-icon {
		right: 10%;
		top: 45%;
	}
}
