.#Enviorment and Such ignore files

.vscode*
.settings
.Enviorment
.png
C:\Users\Calvin\_Coding\DevSlopes\04_Advanced_Html_Css\Saas_Project\css\800 Css.ipynb
C:\Users\Calvin\_Coding\DevSlopes\04_Advanced_Html_Css\Saas_Project\CodeSanps