@media (max-width: 768px) {
	.main-wrapper {
		width: 90%;
	}
}

@media (max-width: 581px) {
	.pages {
		padding: 8px;
	}

	#menu-toggler {
		display: block;
		top: 80px;
		right: 35px;
		font-size: 1.6rem;
	}

	#mobile-menu {
		top: 80px;
		right: 25px;
		width: 190px;
	}

	.main-nav-container {
		display: none;
	}

	.main-wrapper {
		height: 80vh;
	}

	.header-container {
		font-size: 1.2rem;
		text-shadow: 1px 1px 1px var(--project-yellow);
		margin-bottom: 30px;
	}

	.life-span-container {
		flex-direction: column;
		margin-top: 30px;
	}

	.image-no-shows {
		display: none;
	}

	.pages #menu-toggler {
		top: 20px;
	}

	.pages #mobile-menu {
		top: 15px;
	}

	.pages-bio .bio-name-container {
		font-size: 2.5rem;
		margin-bottom: -10px;
	}

	.pages-bio .bio-image-container {
		width: 100%;
		height: 250px;
	}

	.pages-bio .bio-bio-container {
		color: var(--project-blue-dark);
		margin-bottom: -60px;
		width: 100%;
		font-weight: 600;
	}

	.pages-bio .bio-descriptive-section {
		width: 100%;
		text-align: justify;
		color: var(--project-yellow-light);
		font-size: 1.2rem;
	}

	.pages-bio .timeline-container {
		font-weight: 600;
		line-height: 1.8;
	}

	.pages-bio .timeline-conainer-2 {
		color: var(--project-blue-dark);
	}

	.album-section-1 {
		display: none;
	}

	.album-section-2 {
		display: flex;
		row-gap: 0;
	}

	.album-section-2 .album-wrapper {
		width: 320px;
		height: 320px;
		font-size: 1rem;
		margin-bottom: 10px;
	}

	.album-section-2 .album-wrapper img {
		width: 250px;
		height: 250px;
	}

	.pages-movies .movie-page-banner {
		height: 200px;
	}

	.pages-movies .movie-image-container {
		width: 300px;
	}

	.pages-movies .movie-details-container {
		width: 300px;
		font-size: 25px;
	}

	.pages-movies .movie-images-container img {
		width: 145px;
		height: 90%;
	}
}
